@import "font";
@import "nav.css";

.bg-banner::before {
    content: "";
    opacity: 0.5;
    z-index: 40;
    @apply bg-primary absolute top-0 left-0 h-full w-full block;
}

.bg-banner {
    background-repeat: no-repeat;
    background-size: cover;

    &__marketing {
        background-image: url('../resources/img/marketing.png');
    }
}


.wpcf7-form-control-wrap {
    font-family: 'icomoon' !important;
    }


    .wpcf7-submit::before {
        content: "\e905";
        font-family: 'icomoon' !important;
        font-weight: 900;
     }

input {
    background-color: none;
}


.formbutton {
    @apply h-[50px] bg-white text-black w-full mt-5 uppercase;
}

.formfield {
    @apply w-full bg-transparent w-full border-white border p-2 my-2 text-white;
}

h1 {
    @apply text-[40px] font-bold uppercase;
}


.entry-content, .block-editor-block-list__layout {


    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    p, ul, ol {
        a {
            @apply text-blue-500 underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-8;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}